#services:
#  jekyll-site:
#    image: jekyll-site
#    build: .
#    volumes: [ .:/usr/src/app ]
#    ports: [ 4000:4000 ]
#    user: 1000:1000
#    command: jekyll serve -H 0.0.0.0 -w

version: '3.8'
services:
  jekyll:
    image: jekyll/jekyll:4.2.2
    ports:
      - "4000:4000"
    volumes:
      - .:/srv/jekyll
    working_dir: /srv/jekyll
    command: >
      sh -c "
        apk add --no-cache build-base libxml2-dev libxslt-dev ruby-dev &&
        gem install bundler -v 2.4.19 &&
        bundle config set force_ruby_platform true &&
        bundle install &&
        jekyll serve --host 0.0.0.0 --livereload --force_polling
      "



#version: "3"
#services:
#  jekyll:
#    image: jekyll/jekyll:4.2.2
#    ports:
#      - "4000:4000"
#    volumes:
#      - .:/srv/jekyll
#    working_dir: /srv/jekyll
#    command: jekyll serve --watch --force_polling --host 0.0.0.0
